
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 50px;
    color: white ;   
}
h1.pay{
    background-color: black;
}
p.one{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    color: rgb(226, 14, 14) ;
    outline:invert;
}
p.two{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.left{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 25px;
    width:500px;
    height:230px;
    margin: 150px 100px;
    padding: 10px;
    float: left;
    border: 6px  ;
    border-style: double;
    border-color: rgb(235, 83, 83);
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.972);
}
li::before{
    content: "\25C6";
    color:rgba(228, 72, 72, 0.877) ;

}


.Outercontainer{

    width:370px;
    height:430px;
    float: right;
    margin : 15px;
    margin-right: 70px;
    padding: 30px;
    border : 5px solid rgb(255, 255, 255) ;
    border-style: groove;
    
  /*  display : flex ;
    flex-wrap : wrap;
    justify-content: space-evenly;*/
    border-radius: 50px;    
}
.name,.Age,.Mobile-no,.email-id,.submit,.Amount{
    margin: 20px auto;
    text-align: center;
       
}
.Outercontainer input[type="text"],.Outercontainer input[type="number"],.Outercontainer input[type="email"]{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 15px;
    width: 280px;
    text-align: center;
    padding: 12px;
    background: none;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;
    outline: none;
    color: #fff;
    transition: 0.25s;
}
.Outercontainer input[type="text"]:hover,.Outercontainer input[type="number"]:hover,.Outercontainer input[type="email"]:hover{
    width: 350px ;
    border: 3px solid rgb(226, 14, 14);    
    text-align: center;
}
.Outercontainer input[type = "submit"]{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 15px;
    width: 100px;
    text-align: center;
    padding: 12px;
    background: none;
    border: 2px solid rgb(226, 14, 14);
    border-radius: 30px;
    outline: none;
    transition: 0.25s;
    color: #fff;
}
.Outercontainer input[type = "submit"]:hover{
    background-color: rgb(226, 14, 14);
    color: white;
}

p.offer{
    font-family: ' sans-serif';
    font-size: 20px;
    font-style: italic;
    color: rgb(255, 255, 255);
    text-transform:uppercase ;

}
.pay-success{
    text-align: center;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-sparNCPTe0hRophmeu02Rbq9Hkqz2KNfiZ3d-vezkeyqdfkk6gbMfXm65pp-7il3-nk&usqp=CAU);
    background-position-x: center;
    background-repeat: no-repeat;
}
.pay-success input[type="submit"]{
    background: none;
   
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    width: 70px;
    height: 30px;
    font-size: 13px;

}
.pay-success input[type="submit"]:hover{
    background-color:rgb(28, 207, 28) ;
    color: beige;
    
}
h1.paym{
    padding-top: 250px;
    color: black;
}
.payment3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}
.payment3 input[type="submit"]{
    background-color: beige;
    border: 2px solid black;
    border-radius: 8px ;
    margin-left: 30px;
    margin-top: 20px;
}
.payment3 input[type="submit"]:hover{
    background-color: black;
    color: beige;
}
.home-button{
    text-align: center;
}
.home-button a{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 15px;
    width: 100px;
    text-align: center;
    padding: 11px 24px;
    background: none;
    border: 2px solid rgb(226, 14, 14);
    outline: none;
    transition: 0.25s;
    color: #fff;
}
.home-button a:hover{
    background-color: rgb(226, 14, 14);
    color: white;
}